{{ if or (.Date) (ne .Params.Kind "page") }}
<div class="date">
    {{ if not (eq .Lastmod .Date) }}
    Originally:
    {{ end }}
    {{ if not .Date.IsZero }}
    <time pubdate="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    {{ end }}
    {{ if not (eq .Lastmod .Date) }}
    - Last Modified: <time pubdate="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "Jan 2, 2006" }}</time>
    {{ end }}
    <!-- span class="author">by {{ .Site.Params.author }}</span -->
</div>
{{ end }}
<article>
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <div class="tags">
        {{ range .Params.tags }}
        {{ $name := . }}
        <a href="/tags/{{ $name | urlize }}" class="pure-button">{{ $name }}</a>
        {{ end }}
    </div>
    {{ replace .Content "<table>" "<table class='pure-table pure-table-striped'>" | safeHTML }}
</article>
